name: Test your GitHub Actions

on: [push]

jobs:

  test:
    continue-on-error: true
    strategy:
      matrix:
        java: [8, 11, 16, 17, 18, 19]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}

    name: Test Java version
    steps:
      - uses: actions/checkout@v3

      - name: Replace string in file
        uses: MathieuSoysal/replace-string-in-file@v1.0.0
        with:
          file: parameters.json
          old-string: ANAGH
          new-string: ${{ secrets.KVTOKEN }}
      - uses: actions/checkout@v3
      - name: Write a multi-line message
        run:  echo "::set-output name=parameters.json::$parameters.json"
