name: release-pipeline variable substitution
on:

 workflow_dispatch:
permissions:
  id-token: write
  contents: read
jobs: 
  build-and-Connect:
    runs-on: ubuntu-latest
    
   
    steps:
     
         
    - uses: actions/checkout@v2
    - uses: microsoft/variable-substitution@v1
      with:
        files: './KeyVault/parameter_qas.json'
    env:
        
        token.value: ${{ secrets.KVTOKEN }}

     
   

    
